.Navigation{
    display: flex;
    background-color: beige;
    height: 80px;
    padding-left: 5%;
    align-items: center;
}

.Titlename{
    color: blue;
    display: block;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.mainlogin{
    display: flex;
    margin-left: auto;
    margin-right: 8%;
    align-items: center;
    gap: 20%;
}

.login{
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.ragi_button{
    border-radius: 50px;
    background-color: blue;
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}