form.create-note {
    position: relative;
    width: 480px;
    margin: 30px auto 30px auto;
    background-color: #414141;
    padding: 15px;
    border-radius: 7px;
    /* box-shadow: 0 1px 5px rgb(138, 137, 137); */
    box-shadow: black 0px 4px 6px -1px, black 0px 2px 4px -1px;
  }
  form.create-note input,
  form.create-note textarea {
    background-color: #414141;
    color: aliceblue;
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    /* font-family: inherit; */
    font-family: "Josefin Sans", sans-serif;
    resize: none;
  }
  form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #414141;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }