.Notecard {
    border-color: #141414;
    background-color: #414141;
    transform: translate(5px, 6px);
    width: 180px;
    height: 130px;
    border-radius: 5px;
    margin: 2%;
    /* box-shadow: black 0px 4px 6px -1px, black 0px 2px 4px -1px; */
  }
  